In [1]:
#Load the csv files
Players <- read.csv(file="player.csv")
Teams <- read.csv(file="team.csv")

In [2]:
library(sqldf)

Warning message:
"package 'sqldf' was built under R version 3.3.3"Loading required package: gsubfn
Warning message:
"package 'gsubfn' was built under R version 3.3.3"Loading required package: proto
Warning message:
"package 'proto' was built under R version 3.3.3"Could not load tcltk.  Will use slower R code instead.
Loading required package: RSQLite

In [3]:
#Which are the top 10 players by overall rating?
df1<-sqldf("select player_name,overall_rating from Players order by overall_rating desc limit 10")
df1

Warning message:
"Quoted identifiers should have class SQL, use DBI::SQL() if the caller performs the quoting."

   player_name        overall_rating
1  Lionel Messi       94
2  Cristiano Ronaldo  93
3  Luis Suarez        90
4  Manuel Neuer       90
5  Neymar             90
6  Arjen Robben       89
7  Zlatan Ibrahimovic 89
8  Andres Iniesta     88
9  Eden Hazard        88
10 Mesut Oezil        88

In [4]:
#Which are the top 10 goalkeepers by sum of gk attributes?
df2<-sqldf("select player_name,gk from Players order by gk desc limit 10")
df2

   player_name       gk
1  Manuel Neuer      440
2  David De Gea      429
3  Edwin van der Sar 422
4  Robert Enke,30    421
5  Claudio Bravo     416
6  Bernd Leno        415
7  Petr Cech         414
8  Thibaut Courtois  414
9  Joe Hart          412
10 Samir Handanovic  411

In [5]:
#Which are the top 10 players by number of appearances (with any team they played with)?
df3<-sqldf("select player_name,matches_played from Players order by matches_played desc limit 10")
df3

   player_name          matches_played
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

In [6]:
#Which are the top 10 players by number of leagues they played in?
df4<-sqldf("select player_name,leagues_played from Players order by leagues_played desc limit 10")
df4

   player_name           leagues_played
1  Gelson Fernandes      6
2  Filip Djuricic        5
3  Ricky van Wolfswinkel 5
4  Aleksandar Tonev      4
5  Alfred Finnbogason    4
6  Almen Abdi            4
7  Aly Cissokho          4
8  Angel Di Maria        4
9  Bojan Krkic           4
10 Bryan Ruiz            4

In [7]:
#Which are the top 10 teams by sum of build up play attributes?
df5<-sqldf("select team_long_name,buildup from Teams order by buildup desc limit 10")
df5

   team_long_name             buildup
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biala 193
5  Korona Kielce              192
6  Carpi                      190
7  Widzew Lódz                190
8  Widzew Lódz                190
9  FC Nantes                  189
10 Lazio                      188

In [8]:
#Which are the top 10 teams by sum of chance creation attributes?
df6<-sqldf("select team_long_name,chance_creation from Teams order by chance_creation desc limit 10")
df6

   team_long_name          chance_creation
1  Lazio                   220
2  SV Werder Bremen        216
3  Napoli                  215
4  Manchester City         210
5  Tottenham Hotspur       210
6  Birmingham City         210
7  Wolverhampton Wanderers 210
8  Burnley                 210
9  Swansea City            210
10 Queens Park Rangers     210

In [9]:
#Which are the top 10 teams by sum of defense attributes?
df7<-sqldf("select team_long_name,defence from Teams order by defence desc limit 10")
df7

   team_long_name          defence
1  Beerschot AC            210
2  KVC Westerlo            210
3  Sporting Charleroi      210
4  West Bromwich Albion    210
5  Hull City               210
6  Birmingham City         210
7  Wolverhampton Wanderers 210
8  Blackpool               210
9  Swansea City            210
10 Queens Park Rangers     210

In [10]:
#Which are the top 10 teams by number of scored goals?
df8<-sqldf("select team_long_name,goals from Teams order by goals desc limit 10")
df8

   team_long_name    goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582